.jumbotron {
    background-color: yellow;
    color: black;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}

.tarjeta {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reverse {
    width: 100%;
    border-radius: 0px;
}

address {
    line-height: 0.7;
}

#formatoArchivo .form-check {
    margin-top: 2.5rem;
    padding-left: 3.25rem;
}

form {
    margin-top: 1.5rem;
}

.card-footer {
    padding: 0px;
}

#carouselControls {
    margin: -32px 0px 10px 0px;
}

#myTabContent {
    margin-top: 10px;
}

#organigrama {
    width: 60%;
}

#collapse-contenido {
    margin-top: 10px;
}
