.jumbotron {
  margin: 50px 0px 0px 0px;
  background-color: #fffa19;
  color: #149e01; }

footer {
  margin: 10px 0px 0px 0px;
  padding: 10px 10px 0px 10px;
  background-color: #fffa19;
  color: #149e01; }

.tarjeta {
  flex: 1 200px;
  margin: 10px 0px 0px 0px; }

.btn-reverse {
  width: 100%;
  border-radius: 0px; }

address {
  line-height: 0.7; }

#formatoArchivo .form-check {
  margin: 2.5rem 0px 0px 0px;
  padding: 3.25rem 0px 0px 0px; }

form {
  margin: 1.5rem 0px 0px 0px; }

.card-footer {
  padding: 0px 0px 0px 0px; }

#carouselControls {
  margin: -32px 0px 10px 0px; }

#myTabContent {
  margin: 10px 0px 0px 0px; }

#organigrama {
  width: 60%; }

#collapse-contenido {
  margin: 10px 0px 0px 0px; }
