@yellow: #fffa19;
@red: #FF0000;
@green: #00ff00;

.margenes (@top:0px, @rigth:0px, @button:0px, @left:0px) {
    margin: @top @rigth @button @left;
}

.relleno(@top:0px, @rigth:0px, @button:0px, @left:0px) {
    padding: @top @rigth @button @left;
}

.footer {
    .margenes(10px);
    .relleno(10px, 10px, 0px, 10px);
    background-color: @yellow;
    color: @green;
}

.jumbotron {
    .margenes(50px);
    background-color: @yellow;
    color: @green;
}

footer {
    .footer();
}

.tarjeta {
    flex: 1 200px;
    .margenes(10px);
}

.btn-reverse {
    width: 100%;
    border-radius: 0px;
}

address {
    line-height: 0.7;
}

#formatoArchivo .form-check {
    .margenes(2.5rem);
    .relleno(3.25rem);
}

form {
    .margenes(1.5rem);
}

.card-footer {
    .relleno();
}

#carouselControls {
    .margenes(-32px, 0px, 10px, 0px);
}

#myTabContent {
    .margenes(10px);
}

#organigrama {
    width: 60%;
}

#collapse-contenido {
    .margenes(10px);
}