$yellow: #fffa19;
$red: #FF0000;
$green: #149e01;

@mixin margenes ($top:0px, $rigth:0px, $button:0px, $left:0px) {
    margin: $top $rigth $button $left;
}

@mixin relleno($top:0px, $rigth:0px, $button:0px, $left:0px) {
    padding: $top $rigth $button $left;
}

@mixin footer {
    @include margenes(10px);
    @include relleno(10px, 10px, 0px, 10px);
    background-color: $yellow;
    color: $green;
}

.jumbotron {
    @include margenes(50px);
    background-color: $yellow;
    color: $green;
}

footer {
    @include footer();
}

.tarjeta {
    flex: 1 200px;
    @include margenes(10px);
}

.btn-reverse {
    width: 100%;
    border-radius: 0px;
}

address {
    line-height: 0.7;
}

#formatoArchivo .form-check {
    @include margenes(2.5rem);
    @include relleno(3.25rem);
}

form {
    @include margenes(1.5rem);
}

.card-footer {
    @include relleno();
}

#carouselControls {
    @include margenes(-32px, 0px, 10px, 0px);
}

#myTabContent {
    @include margenes(10px);
}

#organigrama {
    width: 60%;
}

#collapse-contenido {
    @include margenes(10px);
}